body {
  background-color: black;
  color: #88883b;
}

.main-header,
.centred {
  text-align: center;
  padding-top: 10px;
}

.date-time {
  display: flex;
  justify-content: space-around;
}

#image-title {
  color: #88883b;
}

.ui.selection.list .video-card {
  display: flex;
  align-items: center;
}

.video-detail {
  width: 100%;
  height: 50vh;
}

.ui.active.text.loader {
  margin-top: 30vh;
  margin-left: 20vh;
}
